body {
    text-align: center;
    font-family: "Georgia",serif;
    background-color: white
    
}
p {
     text-align: center;
     font-family: "Georgia",serif;
     font-size: 100%
}
body {
    background-image: url("http://www.powerpointhintergrund.com/uploads/yellow-background-15.jpg")
}