body {
    text-align: center;
    font-family: "Georgia",serif;
     background-image: url("http://www.powerpointhintergrund.com/uploads/yellow-background-15.jpg")
    
}
p {
     text-align: center;
     font-family: "Georgia",serif;
     font-size: 200%
}